
<h1>Employee List</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
    <% if employee.user == current_user %>
      <tr>
        <td><%= link_to employee.first_name + " " + employee.last_name,employee %></td>
        <td><%= employee.title %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class:"btn btn-dark btn-sm" %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, class:"btn btn-primary" %>
