<% if user_signed_in? %>
<h1>Employee List</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
    <% if employee.user == current_user %>
      <tr>
        <td><%= link_to employee.first_name + " " + employee.last_name,employee %></td>
        <td><%= employee.title %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class:"btn btn-dark btn-sm" %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm " %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, class:"btn btn-primary" %>
<% else %>
<h1>Covid Screener Questionare application</h1>
<br/>
<h3>Who should be screened?</h3>
<ul>
Businesses can consider screening employees for symptoms, but this may have a limited effect as the
virus that causes COVID-19 can also be spread by people who are not showing symptoms.
</ul>
<h3>
When should screening occur? 
</h3>
<ul>
If screening is done, an employee should complete the screening prior to the beginning of each shift.
</ul>
<ul>
Screening can be done either by attestation before arrival or on-site at a checkpoint near the entrance
to the facility. 
</ul>
<% end %>