<div class="container">

<h4>Who's checking in/out?</h4>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= form_tag home_launch_path,class:"d-flex", method: 'get' do %>
  
    <%= text_field_tag :search, params[:search], class:"form-control me-2", placeholder:"First Name" %>
    <%= submit_tag "Search", :name => nil, class:"btn btn-outline-success" %>
  
    <% end %>
  </div>
</nav>
<br/>
<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to 'Sign in as Guest', new_guest_path, class:"btn btn-primary"%>
</div>
<br/>

<ul class="list-group">
<% if @employees != nil %>
  <% @employees.each do |employee| %>
    <% if employee.user == current_user %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-11">
          <span style="font-size: 1.5rem">
            <%=link_to employee.first_name + " " + employee.last_name, home_questionaire_path(:id => employee.id), style:"display:block;text-decoration:none;color:black;" %>
          </span>
          <i><%=link_to employee.title, home_questionaire_path(:id => employee.id), style:"display:block;text-decoration:none;color:grey;" %></i>
        </div>
        <span class="<%= employee.signed_in? ? 'signedIn' : 'signedOut'%>">&#8203;</span>
      </li>      
    <% end %>
  <% end %>
<% end %>
</ul>
<ul class="list-group">
<% if @guests != nil %>
  <% @guests.each do |guest| %>
    <% if guest.user == current_user %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-11">
          <span style="font-size: 1.5rem">
            <%=link_to guest.first_name + " " + guest.last_name, home_questionaire_path(:id => guest.id, :guest_name => guest.first_name << guest.last_name), style:"display:block;text-decoration:none;color:black;" %>
          </span>
          <i><%=link_to 'Guest', home_questionaire_path(:id => guest.id, :guest_name => guest.first_name << guest.last_name), style:"display:block;text-decoration:none;color:grey;" %></i>
        </div>
        <span class="<%= guest.signed_in? ? 'signedIn' : 'signedOut'%>">&#8203;</span>
      </li>      
    <% end %>
  <% end %>
<% end %>
</ul>
</div>
